* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input-container {
  width: 800px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.title_input {
  height: 35px;
  margin-bottom: 10px;
}

.desc_input {
  height: 60px;
  margin-bottom: 10px;
}

.title_input,
.desc_input {
  border: 1px solid grey;
  border-radius: 10px;
}

.add_btn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: aquamarine;
  margin-bottom: 10px;
}
